<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Manager - Delete an element</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>


<body>
    <div class="class-box">
        <div class="header-container">
            <h1>Football Club Manager</h1>
            <div class="menu-icon-2">
                <a href="home.html" class="icon-link" title="Home">
                    <img src="For_css/home-icon.png" alt="Home" class="icon-2">
                </a>
            </div>
        </div>

        <div class="border">
            <h1 class="Title_delete_elem-2">Delete an element</h1>
            <div class="menu">
                <div class="delete-element">
                    <div class="dropdown">
                        <h2>Club</h2>
                        <input type="text" placeholder="Club's name" list="clubs">
                        <datalist id="clubs">
                            <option value="Real Madrid">
                            <option value="Manchester City">
                            <option value="Barcelona">
                        </datalist>
                    </div>
            
                    <div class="dropdown">
                        <h2>Team</h2>
                        <input type="text" placeholder="Team's name" list="teams">
                        <datalist id="teams">
                            <option value="U 14">
                            <option value="U 16">
                            <option value="U 19">
                        </datalist>
                    </div>
            
                    <div class="dropdown">
                        <h2>Players</h2>
                        <input type="text" placeholder="Player's name">
                    </div>
                </div>
            </div>
            <div class="single-button-delete">
                <button class="delete-button">Delete</button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
