<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>

    </script>
</head>
<body>
    <div class="class-box">
        <div class="header-container">
            <h1>Football Club Manager</h1>
            <div class="menu-icon-2">
                <a href="/home-admin.html" class="icon-link" title="Home">
                    <img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Home" class="icon-2">
                </a>
                <a href="/" class="icon-link" title="Logout">
                    <img src="{{ url_for('static', filename='images/deco-icon.png') }}" alt="Logout" class="icon-2">
                </a>
            </div>
        </div>

        <div class="border">

        </div>
    </div>
</body>
</html>
