<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>

    </script>
</head>
<body>
    <div class="class-box">
        <h1>Football Club Manager</h1>
        <p>Welcome to the best site to manage your football club.</p>

        <div class="border">

        </div>
    </div>
</body>
</html>
